<div class="stepContainer modalPopup">



  <div class="modal-body">

    <div class="close-box"  ng-click="ok()"><i class="fa fa-times"></i> </div>

    <div class="header">Welcome to Wild Food!</div>

    <div class="step">
      <div class="stepheader"> Discover</div>
      <img src="../assets/images/photos/map_sample.jpg" class="stepimage mapimage"/>
      <div class="stepsubheader">Locate plants on the map</div>
    </div>

    <div class="step">
      <div class="stepheader">Upload a picture</div>
      <img src="../assets/images/photos/P1060150_small.JPG" class="stepimage"/>
      <div class="stepsubheader">Wildfood mobile app</div>
      <div class="stepsubheader">Wildfood web app</div>
      <div class="stepsubheader">Instagram #wildfood</div>
    </div>

    <div class="step">
      <div class="stepheader"> Learn</div>
      <img src="../assets/images/photos/DiegoBonetto-Tours-Wild-Food-and_Medicine_small.jpg" class="stepimage"/>
      <div class="stepsubheader">Is it edible? Is it safe?</div>
      <div class="stepsubheader"> How do I use it?</div>
    </div>

    <div class="gotit" ng-click="ok()"><i class="fa fa-pagelines"></i> Got it!</div>
  </div>
  <div class="modal-footer">



  </div>

</div>
