<div class="plantsidebar_intro">

  <h2 ng-click="discover()" class="link">
    <i class="fa fa-globe fa-2x"></i><span class="title">Discover plants around you</span>

    <ul class="subpoints" ng-show="showDiscover">
    <li>Locate plants on the map</li>
    <li>Identify plants via peer and community review</li>
    <li>Get suggestions via social and local recommendations</li>
    </ul>
  </h2>

  <h2 ng-click="learnAboutPlants()" class="link">
    <i class="fa fa-pagelines  fa-2x"></i>
    <!--<i class="segoe fa-2x">&#x1f331;</i>-->
    <span class="title">Learn about useful, edible and medicinal plants</span>

  </h2>

  <h2  ng-click="shareIntro()" class="link">
    <i class="fa fa-map-marker fa-2x"></i><span class="title">Share local information on useful plants</span>


  </h2>

  <h2  ng-click="showConnect=true;" class="link">
    <i class="fa fa-heart fa-2x"></i><span class="title">Connect with fellow plant lovers</span>
    <ul class="subpoints" ng-show="showConnect">
    <li>Connect to local, sustainable and seasonally available resources</li>
    <li>Add locations, photos and notes</li>
    <li>Moderate, discuss and flag plants in your area</li>
    </ul>

  </h2>
</div>
