<div id="disclaimerPopup" class="modalPopup">
<!-- 	<div class="ngdialog-close" ng-click="ok()"></div> -->

	<div class="close-box"  ng-click="ok()">x</div>
<!-- 	<img id="zenbox_close" src="//assets.zendesk.com/external/zenbox/images/close_big.png"> -->

	<div class="modal-header">
		<h3>
			<img src="assets/images/Logo_small_PNG.png" style="width: 100px; margin-top: -17px;"><span
				style="font-weight: bold; margin-left: 20px;"> DISCLAIMER</span>
		</h3>
	</div>
	<div class="modal-body">
		<p>The information in this app about the edible, medicinal and
			craft uses of species is for educational purposes only.</p>
		<p>It is not the intention of the author or developer for the
			reader to use these plants as a substitute for consultation with a
			licensed health practitioner or for treating illness.</p>
		<p>The author and developer assume no responsibility for problems
			arising from the user's misidentification, misuse, or use of
			harvested plants.</p>
		<p>By entering the Wild Food Map, you verify that you have read,
			acknowledge, and accept these terms of use of this software.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</div>
