$icon_confirmed_color: #99CC33;
$icon_unconfirmed_color: #9F9F9F;
$icon_standard_color: #efb547;

$accordion_header_color2: #F1F7E5;
$accordion_header_color: #F1F7E5;
$accordion_border_color: rgba(236, 245, 218, 0.67);
$accordion_disabled_border_text_color: #808683;

$modal_popup_border_color: #F1F7E5;
$modal_popup_border: 0px solid $modal_popup_border_color;

$nav_text_color: #686F6F;
$nav_hover_text_color: #333;
$nav_hover_bottom_border: 0px solid #000;
$header_footer_color: #FCFFFC;
$header_footer_bg_color: #FCFFFC;
$header_footer_border_color: #DBE2DB;

$favorited_color: #CF2514;

$actionbar_color: #0084B4;
$actionbar_location_color: #8899a6;

$comment_button_bg_color: #F1F7E5;
$comment_button_border_color: #ddd;
$comment_button_text_color: #807D7D;
$comment_h_button_bg_color: #F1F7E5;
$comment_h_button_border_color: #ddd;
$comment_h_button_text_color: #807D7D;
$comment_username_text_color: #8899a6;

$button_primary_bg_color: #F1F7E5;
$button_primary_border_color: #ddd;
$button_primary_h_bg_color: #F1F7E5;
$button_primary_h_border_color: #ddd;

.thumbnail {
  margin-bottom: 0px;
  border: 0px;
  padding: 2px;
}

.roundedImage {
  border: 2px solid #ddd;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.has-feedback .form-control {
  padding-right: 6px;
}

h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: $button_primary_h_bg_color;
  border-color: $button_primary_h_border_color;
  color: #000;
}

.btn-primary {
  color: #333;
  background-color: $button_primary_bg_color;
  border-color: $button_primary_border_color;
  background-image: linear-gradient(white, #E1F1E2);
}

.btn-warning {
  color: #333;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  color: #000;
}

.help-block.inline {
  display: inline;
  margin-left: 20px;
  font-weight: normal;
}

.input-group-addon {
  background-color: #fff;
}

.icon_confirmed {
  color: $icon_confirmed_color;
  font-size: 1.5em;
}

.planttitle {
  color: #6f6f6f;
}

.plantConfirmationIcon {
  font-size: 1.5em;
  margin-right: 5px;
}

.subtitle {
  color: #8A8787;
  font-style: italic;
}

.icon_unconfirmed {
  color: $icon_unconfirmed_color;
  font-size: 1.5em;
  color: #6f6f6f;
}

.gohomeicon {
  color: #6f6f6f;
}

label.filebutton {
  width: 120px;
  height: 40px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #E5F2F7;
  padding: 5px;
  padding-top: 8px;
}

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding: 0;
}

.selected {
  color: yellow;
}

.close-box {
  font-weight: bold;
  z-index: 2;
  color: #959595;
  font-size: 22px;
  line-height: 13px;
  padding: 3px;
  text-align: center;
  height: 25px;
  width: 25px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  font-size: 14px;
}

.btn, select {
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff, #f2f2f2);
  background-image: linear-gradient(#fff, #f2f2f2);
  border: 1px solid #c7c7c7;
  color: #393c3d;
  text-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.btn-special {
  background-color: #fce359;
  background-image: -webkit-linear-gradient(#fce359, #fed231);
  background-image: linear-gradient(#fce359, #fed231);
  border: 1px solid #e5b50f;
  color: #393c3d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.32);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), inset 0 0 1px 1px rgba(255, 255, 255, 0.12);
}

.typeahedicon {
  margin-left: 5px;
  margin-right: 7px;

}

.typeAheadEntry {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #E9E5DC;
  color: #413F3F;

}

.typeAheadEntry:hover {
  background-color: #F7F7F7;

}

.input-group-addon a {
  cursor: pointer;
}

.loading {
  color: #746A6A;
  padding: 10px;
  // border: 2px dashed rgb(207, 202, 202);
  margin-bottom: 20px;
  font-size: 20px;
  .fa {
  }
  .loadingtext {
    margin-left: 8px;
  }
}

h3, .h3 {
  font-size: 20px;
}

.tooltip.in {

  opacity: 1;
}

.extra-wide-tooltip {
  min-width: 400px;
}

.tooltip-inner {
  min-width: 160px;
  max-width: 300px;
  padding: 5px 10px;
  color: #333;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #796F6F;
}

.stuck {
  position: fixed;
  top: 0;
  max-height: 100%;
  overflow-y: auto;
}
