.seasonalAdmin {
  .btn-primary {
    text-shadow: 0 1px 0 #000;

  }
  .btn-primary.active {
    border: 6px #7EF411 solid !important;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

    border: 1px solid #BAB2B2;
    border-bottom-color: transparent;
    cursor: default;
  }
  .tab-pane.active {
    border: 1px #BAB2B2 solid !important;
    padding: 20px;
  }

  .zonecube {
    height: 20px;
    width: 20px;
  }

  .parttitle {
    margin-top: 10px;
    font-weight: bold;
  }

  .partdiv {
    border-bottom: 1px #ddd solid;
    padding-bottom: 10px;
  }
  .notgrowbutton.active{
    background-image: linear-gradient(red, red);
  }

}

.seasonViewerButton{
  border: 0px #7EF411 solid !important;
  padding: 3px 6px;
}

.seasonViewerButton.active{
  text-shadow: 0 1px 0 #000 !important;
}
