
.jobs {
  .jobItem {
    border: 1px #333 solid;
    padding: 20px;
  }

  .labelvalue {
    padding: 10px;
  }
  .title {
    font-size: large;
    margin-bottom: 10px;
  }
  .label {
    font-weight: bolder;
    /* background-color: #ddd; */
    font-size: 14px;
    color: #000;
  }
  .value {

  }
}
