<div class="footerstuff">
  <ul class="nav navbar-nav navbar-left" style="margin-left:5px;">
    <li><a href="" style="color: #333;font-size: smaller;cursor: default;"> Wildfood {{ VERSION }}</a></li>
    <li><a href="" ng-click="showAbout()"><i class="fa fa-info fa-lg"></i> About</a></li>
    <li><a href="" ng-click="showIntro()"><i class="fa fa-pagelines fa-lg"></i> Intro</a></li>
    <li><a href="" ng-click="showDisclaimer()"><i
      class="fa fa-exclamation-triangle"></i> Disclaimer</a></li>

    <li><a href="" ng-click="showFeedback()"><i
      class="fa fa-life-ring"></i> Feedback, Support</a></li>
  </ul>


  <ul class="nav navbar-nav navbar-right">

    <li><a href="https://play.google.com/store/apps/details?id=com.wildfood.app" target="_blank">
      <img alt="Android app on Google Play"
           src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
    </a></li>
    <li>
      <a class="navbar-brand"><img src="assets/images/badge_appstore2.jpg"
                                   style="cursor: pointer;"></a>
    </li>


    <li><a>Follow us on: </a></li>

    <li><a href="https://www.facebook.com/wildfoodmap"
           target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a></li>
    <li><a href="https://twitter.com/wildfoodmap" target="_blank"><i
      class="fa fa-twitter fa-lg"></i></a></li>
    <!--<li><a href="https://www.flickr.com/photos/the_weed_one/"-->
    <!--target="_blank"><i class="fa fa-flickr fa-lg"></i></a></li>-->
    <li><a href="http://instagram.com/wildfoodmap" target="_blank"><i
      class="fa fa-instagram fa-lg"></i></a></li>
    <li><a href="#"></a></li>
  </ul>
</div>
