<div class="profileItem">
  <div class="">

    <input type="checkbox"
           ng-model="profile.edible"/> edible
    <input type="checkbox"
           ng-model="profile.notedible"/> not edible
  </div>

  <!--<div class="">-->
    <!--<label>conditionsOfUse</label> <textarea  class="form-control" ng-model="profile.conditionsOfUse"/>-->
  <!--</div>-->

  <!--<div class="">-->
    <!--<label>preparation</label> <textarea  class="form-control" ng-model="profile.preparation"/>-->
  <!--</div>-->


  <!--<div class="">-->
    <!--<label>dosage</label> <textarea  class="form-control" ng-model="profile.dosage"/>-->
  <!--</div>-->


  <!--<div class="">-->
    <!--<label>chineseMedicineDetail</label> <textarea class="form-control"  ng-model="profile.chineseMedicineDetail"/>-->
  <!--</div>-->

</div>
